
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//-----------------
// Border size
//-----------------

.border-2 {
  border: 2px solid #dee2e6 !important;
}

.border-4 {
  border: 4px solid #dee2e6 !important;
}

.border-8 {
  border: 8px solid #dee2e6 !important;
}

.border-top-2 {
  border-top: 2px solid #dee2e6 !important;
}

.border-top-4 {
  border-top: 4px solid #dee2e6 !important;
}

.border-top-8 {
  border-top: 8px solid #dee2e6 !important;
}

//-----------------
// Border color
//-----------------

.border-indigo {
  border-color: $indigo !important;
}

.border-green {
  border-color: $green !important;
}

